extends layout

block content
  h1= title
  p Welcome to Northwest Missouri State University, Missouri
  block content
    if (!user)
      a(href="/login") Login
      br
      a(href="/register") Register
    if (user)
      p You are currently logged in as #{user.username}
      a(href="/school") Take me to school
      br
      a(href="/logout") Logout 
      br
      div
  button(type="button", class="btn btn-secondary", onclick="goFaster()") press me
  div(id="faster") Increase the speed
      br

  script.
    var mph = 20
    var change = 1
    function goFaster(){
      mph = mph + change
      change = change + 1
      document.getElementById("faster").textContent = `MPH ${mph} with change ${change}` 
    }

  a(href='/schools') Click here to search for schools
